/* Změní barvu pozadí celé stránky */
body {
    background-color: lightblue;
}

/* Nadpis stylovaný */
h1 {
    color: #fff;
    text-align: center;
}

/* Odstavec stylovaný */
p {
    font-size: 18px;
    text-align: center;
}
